<div class="container">
  <div class="d-flex justify-content-between mb-3">
    <h2>Add user</h2>
  </div>
  <div class="">
    <form method="post" action="add-user">
      <label class="text-danger">
        {{message}}
      </label>
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" class="form-control" id="username" aria-describedby="username" name="username" required>
      </div>

      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="text" class="form-control" id="password" aria-describedby="password" name="password" required>
      </div>

      <div class="mb-3">
        <label for="firstname" class="form-label">First name</label>
        <input type="text" class="form-control" id="firstname" aria-describedby="firstName" name="firstname" required>
      </div>

      <div class="mb-3">
        <label for="lastname" class="form-label">Last name</label>
        <input type="text" class="form-control" id="lastname" aria-describedby="lastName" name="lastname" required>
      </div>

      <div class="mb-3">
        <label for="role" class="form-label">Role</label>
        <select name="role" class="form-control" >
          {{#each roles}}
            <option value="{{this}}">{{this}}</option>
          {{/each}}
        </select>
      </div>

      <div class="mb-3">
        <label for="organizerId" class="form-label">Organizer</label>
        <select name="organizerId" class="form-control" >
          {{#each organizers}}
            <option value="{{this.id}}">{{this.name}}</option>
          {{/each}}
        </select>
      </div>

       <button type="submit" class="btn btn-primary">Save</button>
    </form>
  </div>
</div>