<div class="event-banner text-center mb-5" id="eventBanner" style="
  background-image: url(
    {{#if event.bannerImage}}
      {{event.bannerImage}}
    {{else}}
      '/images/ticket-wp.jpg'
    {{/if}}
  );
  " alt="Banner image">

  <div class="event-banner-inner">
    <img id="bannerImage" src={{#if event.bannerImage}} {{event.bannerImage}} {{else}} '/images/ticket-wp.jpg' {{/if}}>
  </div>
  {{#if manageable}}
  <form class="banner-actions">
    <input accept="image/*" type='file' id="imgInp" style="display:none" />
    <a id="editBanner" class="btn btn-primary btn-inline">
      Change image
    </a>
    <a id="saveBanner" class="btn btn-primary btn-block" style="display: none;" onclick="uploadFile()">
      Save
    </a>
  </form>
  {{/if}}
</div>
<div class="container">
  <div>
    <div class="row">
      <div class="col-md-5">
        <div class="text-center mb-5"><img src="{{event.qr}}" alt="QR code"></div>
      </div>
      <div class="col-md-7">
        <div class="d-flex justify-content-between">
          <h2 class="text-primary">
            {{event.name}}
          </h2>
          {{#if manageable}}
          <div class="d-flex  align-items-start gap-1">
            <a href="/events/{{event.id}}/tickets" class="btn btn-primary btn-block mb-4">
              <i class="fa fa-list-ol" aria-hidden="true"></i>
            </a>
            <a href="/events/{{event.id}}/edit" class="btn btn-primary btn-block mb-4">
              <i class="fa fa-pencil" aria-hidden="true"></i>
            </a>
          </div>
          {{/if}}
        </div>

        <div class="text-secondery mt-3">
          <i class="fa fa-calendar-check-o text-primary" aria-hidden="true" style="width: 20px;"></i>
          <span class="fw-lighter fst-italic">{{formatDate event.startTime 'HH:mm, MMM Do YYYY'}}</span>
        </div>
        <div class="mt-2">
          <i class="fa fa-map-marker text-primary " aria-hidden="true" style="width: 20px;"></i>
          <span class="fw-lighter fst-italic">{{event.location}}</span>
        </div>

        <div class="mt-5">
          <p style="white-space: break-spaces;">{{event.description}}</p>
        </div>

        <div class="mt-5">
          <div class="fs-2">Organizer</div>
          <div class="fs-4 text-primary mt-3">{{organizer.name}}</div>
          <p style="white-space: break-spaces;">{{organizer.description}}</p>
        </div>
        <form id="register-form" action="/events/{{event.id}}#register-form" method="post"
          class="mt-5 d-flex flex-column w-100">

          <label for="exampleInputEmail1" class="form-label fs-2">Register this event</label>
          <div class="mb-3">
            <div class="text-info"><i class="fa fa-info-circle" aria-hidden="true"></i> By registering for the event,
              you acknowledge and agree that the organizer may send reminder emails to your provided email address.</div>
          </div>
          <div class="row mb-3">
            <div class="col-6">
              <input type="text" placeholder="First Name" id="firstName" class="form-control" 
                name="firstName" required />
            </div>
            <div class="col-6">
              <input type="text" placeholder="Last Name" id="lastName" class="form-control" 
                name="lastName" required />
            </div>
          </div>
          <div class="mb-3">
            <input type="email" placeholder="Email" id="email" class="form-control {{#if message}}is-invalid{{/if}}"
              name="email" required />
            <div id="validationServer05Feedback" class="invalid-feedback">
              {{#if message}}{{message}}{{/if}}
            </div>
          </div>

          <!-- Submit button -->
          <button type="submit" class="btn btn-primary btn-block mb-4">Register</button>

        </form>
      </div>
    </div>
  </div>
</div>

<div class="position-fixed top-0 end-0 p-3" style="z-index: 9999">
  <div id="liveToast" class="toast align-items-center bg-primary" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="d-flex">
      <div class="toast-body" id="toast-message">
      </div>
      <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
  </div>
</div>

<script>
  imgInp.onchange = evt => {
    const [file] = imgInp.files
    if (file) {
      // file max size is 4M
      if (file.size > 4194304) {
        alert("File is too big!");
        return;
      }
      bannerImage.src = URL.createObjectURL(file);
      $('#eventBanner').css('background-image', `url(${URL.createObjectURL(file)})`);
      $('#saveBanner').show();
    }
  }

  $('#editBanner').on('click', () => {
    $('#imgInp').trigger('click')
  })

  async function uploadFile() {
    const eventId = '{{ event.id }}';
    const fileInput = document.getElementById('imgInp');

    if (fileInput.files.length === 0) {
      alert("Please select a file to upload.");
      return;
    }

    const file = fileInput.files[0];
    const formData = new FormData();
    formData.append("file", file);

    try {
      const response = await fetch(`/events/${eventId}/upload-banner`, {
        method: "POST",
        body: formData
      });

      const result = await response.json();
      $('#saveBanner').hide();
      showToastMessage(result.message);
    } catch (error) {
      console.error("Error uploading file:", error);
      showToastMessage(result.message);
    }
  }

  function showToastMessage(message) {
    const messageEl = document.getElementById('toast-message');

    messageEl.innerHTML = message;
    var toastEl = document.getElementById('liveToast');
    var toast = new bootstrap.Toast(toastEl)
    toast.show();
  }
</script>