<div class="container" style="color: black;">
  <div class="row">
    <div class="col-md-6">
      <div class="text-center mb-5">
        <div class="d-flex justify-content-center mb-3">
          <div id="qrcode">
            <img src="{{ticket.qr}}" alt="QR code">
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="d-flex justify-content-between">
        <a href="/tickets/{{ticket.id}}">
          <h2>Ticket: {{ticket.id}}</h2>
        </a>
      </div>
      <form method="post" action="/tickets/{{ticket.id}}/edit">
        <label class="text-danger" for="invalidCheck3">
          {{message}}
        </label>
        <div class="mb-3">
          <label class="form-label">Ticket ID</label>
          <input class="form-control" disabled value="{{ticket.id}}">
        </div>

        <div class="mb-3">
          <label class="form-label">Registered email</label>
          <input class="form-control" disabled value="{{ticket.email}}">
        </div>

        <div class="mb-3">
          <label class="form-label">Created at</label>
          <input class="form-control" disabled value="{{ticket.createdAt}}">
        </div>
        <div class="mb-3">
          <label for="checkInTime" class="form-label">Check-in time</label>
          <input type="datetime-local" placeholder="Check-in time" class="form-control" name="checkInTime" {{#if
            ticket}} value="{{formatDate ticket.checkInTime 'YYYY-MM-DDTHH:mm'}}" {{/if}} />
        </div>

        <div class="mb-3">
          <label for="checkOutTime" class="form-label">Check-out time</label>
          <input type="datetime-local" placeholder="Check-in time" class="form-control" name="checkOutTime" {{#if
            ticket}} value="{{formatDate ticket.checkOutTime 'YYYY-MM-DDTHH:mm'}}" {{/if}} />
        </div>

        <div class="mb-3">
          <label for="status" class="form-label">Status</label>
          <select name="status" class="form-control" value="{{ticket.status}}">
            {{#each statuses}}
            <option value="{{this}}" {{#ifeq this ../ticket.status}}selected="selected"{{/ifeq}}>{{this}}</option>
            {{/each}}
          </select>
        </div>

        <button type="submit" class="btn btn-primary">Save</button>
      </form>
    </div>
  </div>

</div>