<div class="container">
  <div class="d-flex justify-content-between mb-3">
    <h2>Tickets</h2>
    {{!-- <button class="btn btn-primary btn-block">
      <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
    </button> --}}

    <button type="button" class="btn btn-primary btn-block" data-bs-toggle="modal"
      data-bs-target="#send-mails-confirmation">
      <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
    </button>
  </div>
  <div class="">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Email</th>
          <th scope="col">Created At</th>
          <th scope="col">Status</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        {{#each tickets}}
        <tr>
          <th scope="row">
            {{@index}}</th>
          <td>{{this.email}}</td>
          <td>{{this.createdAt}}</td>
          <td><span class="status status-{{this.status}}">{{this.status}}</span></td>
          <td><a href="/tickets/{{this.id}}">Details</a></td>
        </tr>
        {{/each}}


      </tbody>
    </table>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="send-mails-confirmation" tabindex="-1" aria-labelledby="send-mails-confirmation"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="send-mails-confirmation">Confirmation</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        You intend to send mass reminder emails to registered audiences. Do you want to do it?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" onclick="handleOnClickSendEmails()" data-bs-dismiss="modal">Send
          emails</button>
      </div>
    </div>
  </div>
</div>
<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 9999">
  <div id="liveToast" class="toast align-items-center" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="d-flex">
      <div class="toast-body" id="bulk-emails-message">
      </div>
      <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
  </div>
</div>
<script>
  function handleOnClickSendEmails() {
    fetch(`${location.origin}/events/{{eventId}}/remind`)
      .then(res => {
        const messageEl = document.getElementById('bulk-emails-message');
        let message = '';
        if (res.status == 200) {
          message = 'The emails are being sent in the background process.'
        } else {
          message = 'Something went wrong. Try again later.'
        }

        messageEl.innerHTML = message;
        var toastEl = document.getElementById('liveToast');
        var toast = new bootstrap.Toast(toastEl)
        toast.show()
      });

  }
</script>